.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Asigură-te că este suficient de mare */
}

.modal {
  width: 50%;
  max-width: 640px; /* Ajustează după nevoie */
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1060; /* Asigură-te că este mai mare decât overlay */
}

/* Opțional: Stil pentru imaginea din modal */
.modal img {
  max-width: 100%; /* Asigură-te că imaginea se încadrează în modal */
  height: auto; /* Păstrează aspectul imaginii */
}
